* {
  box-sizing: border-box;
}

body {
  background-color: aliceblue;
  font-family: Arial, Helvetica, sans-serif;
  margin: 0;
}

button {
  cursor: pointer;
}

button:active {
  transform: scale(1.05);
}

input:focus,
button:focus {
  outline: none;
}

header {
  background-image: url('https://images.unsplash.com/photo-1596405367208-63505402f113?ixlib=rb-4.0.3&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=1374&q=80');
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center center;
  color: aliceblue;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  padding: 5rem 0;
  position: relative;
}

header::after {
  content: '';
  position: absolute;
  top: 0;
  left: 0;
  height: 100%;
  width: 100%;
  /* make the image darker */
  background-color: rgba(0, 0, 0, 0.5);
}

.error {
  color:rgb(214, 58, 30);
}

/* move all the input parts in front of the background */
header * {
  z-index: 1; 
}

header h1 {
  margin: 0 0 2rem;
}

form {
  position: relative;
  width: 35rem;
  max-width: 100%;
}

form input {
  border: 0;
  border-radius: 5rem;
  font-size: 1.2rem;
  padding: 1rem 2.5rem;
  width: 100%;
}

form button {
  position: absolute;
  background-color: rgb(220, 96, 7);
  top: 0.2rem;
  right: 0.2rem;
  border: 0;
  border-radius: 5rem;
  color: aliceblue;
  font-size: 1.2rem;
  padding: 0.75rem 1.5rem;
}

.info-btn, #return-btn {
  background-color: rgb(212, 100, 20);
  border: 0;
  border-radius: 2.5rem;
  color: aliceblue;
  padding: 0.4rem 0.6rem;
  font-size: 1.2rem;
  margin-bottom: 0.2rem;
}

.container {
  margin: 2rem auto;
  max-width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
}

img {
  border: 0.1rem solid rgb(199, 198, 198);
  margin-bottom: 1rem;
  box-shadow: 0 0.3rem 0.4rem rgb(144, 144, 144);
}

#show-info img {
  height: 25rem;
}

.container div {
  max-width: 100%;
  width: 17rem;
   margin: 2.5rem;
}

.hide {
  display: none;
  visibility: hidden;
}

.spinner {
  border: 1rem solid lightgray;
  border-top: 1rem solid rgb(220, 96, 7);
  border-radius: 50%;
  width: 12rem;
  height: 12rem;
  animation: spin 2s linear infinite;
}

@keyframes spin {
  0% { transform: rotate(0deg); }
  100% { transform: rotate(360deg); }
}
